body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "section section"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;  /* Ajuste de las alturas automáticas */
    grid-gap: 5px;
    min-height: 100vh;  /* Garantiza que el contenedor ocupe al menos la altura completa de la ventana */
}

header {
    grid-area: header;
    text-align: center;
}

article {
    grid-area: content;
    text-align: center;
}

section {
    grid-area: section;
    text-align: center;
}

footer {
    grid-area: footer;
    text-align: center;
    height: 40px;
    position: sticky;  /* Permite que el pie de página se mantenga en la parte inferior de la ventana si el contenido no es lo suficientemente largo */
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.btn {
    border: 2px solid transparent; /* Añade un borde transparente por defecto */
    color: black;
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 10px; /* Simplifica el margen para mantener la consistencia */
    box-sizing: border-box; /* Asegura que el borde no afecte el tamaño total */
}

.selected {
    background: inherit !important;
    color: inherit !important;
}

.inicio {
    background-color: white;
    border-color: #007bff; /* Define el color del borde específico */
}

.inicio:hover {
    background: #0b7dda;
    color: white;
}

.dns {
    background-color: white;
    border: 2px solid #e7e7e7;
}

.dns:hover {
    background: #ddd;
    color: white;
}

.dhcp {
    background-color: white;
    border: 2px solid #04AA6D;
}

.dhcp:hover {
    background-color: #46a049;
    color: white;
}

.ftp {
    background-color: white;
    border: 2px solid #ff9800;
}

.ftp:hover {
    background: #e68a00;
    color: white;
}

.web {
    background-color: white;
    border: 2px solid #f44336;
}

.web:hover {
    background: #da190b;
    color: white;
}

.correo {
    background-color: white;
    border: 2px solid #555555;
}

.correo:hover {
    background: #555555;
    color: white;
}

#contentSection {
    text-align: center;
    margin-top: 40px;
}

#contentSection h2 {
    color: #007BFF;
}

#contentSection p {
    margin: 10px 0;
    font-size: 18px;
}

#contentSection img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
