body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    text-align: center;
    color: #007BFF;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step {
    display: block;
    margin-bottom: 40px;
}

.step h2 {
    color: #007BFF;
}

.step p {
    margin-bottom: 15px;
    color: #555;
}


